:root {
  --slashnotes-background-color: #252526;
  --slashnotes-color: #ccc;
  --slashnotes-secondary-color: #666;
  --slashnotes-hover-background-color: #2B2D2E;
  --slashnotes-active-background-color: #37363D;
  --slashnotes-main-background-color: #1E1E1E;
}

.desktop {
  width: 100%;
  min-height: 100vh;
  background-color: var(--slashnotes-background-color);
  color: var(--slashnotes-color);
  font-family: monospace;
  font-size: 14px;

  .sidebar {
    float: left;
    min-height: 100vh;
    width: 300px;

    .header {
      padding: 10px;
    }

    .button {
      color: var(--slashnotes-secondary-color);
      float: right;
      cursor: pointer;
      font-style: normal;

      &:hover {
        color: var(--slashnotes-color);
      }
    }

    input {
      float: left;
      margin-left: 20px;
      background-color: var(--slashnotes-hover-background-color);
      border: 0 none;
      color: var(--slashnotes-color);
      font-size: inherit;
      width: calc(100% - 74px);
      outline: none;
      font-family: monospace;
    }

    .node {
      &.current {
        background-color: var(--slashnotes-active-background-color);
      }

      .view {
        overflow: hidden;
        padding: 5px 0;
        cursor: pointer;

        &:hover{
          background-color: var(--slashnotes-hover-background-color);
        }

        .name {
          float: left;
        }

        .rename-button {
          margin-right: 4px;
        }

        .add-button {
          margin-right: 10px;
        }

        .delete-button {
          margin-right: 10px;
        }
      }

      .rename {
        overflow: hidden;
        padding: 5px 0;

        .cancel-button {
          margin: 0 10px 0 4px;
        }
      }

      .delete {
        clear: both;
        padding: 5px 10px 5px 20px;
        font-style: italic;
        cursor: default;
        overflow: hidden;

        span {
          font-style: normal;
          font-weight: bold;
        }

        .submit-button {
          margin-right: 4px;
        }
      }
    }

    .add {
      overflow: hidden;
      padding: 5px 0;

      .cancel-button {
        margin: 0 10px 0 4px;
      }
    }
  }

  .main {
    position: fixed;
    left: 300px;
    height: 100%;
    width: calc(100% - 300px);
    background-color: var(--slashnotes-main-background-color);

    .tabs {
      background-color: var(--slashnotes-background-color);
      overflow: auto;
      line-height: 35px;

      .tab {
        float: left;
        border-right: 1px solid var(--slashnotes-main-background-color);

        .name {
          float: left;
          cursor: pointer;
          margin-left: 10px;
        }

        .close {
          float: right;
          cursor: pointer;
          margin: 5px;
          height: 25px;
          line-height: 25px;
          width: 25px;
          text-align: center;

          &:hover {
            background-color: var(--slashnotes-hover-background-color);
          }
        }

        &.current {
          background-color: var(--slashnotes-main-background-color);

          .name input {
            background-color: transparent;
            color: var(--slashnotes-color);
            border: 0 none;
            font-family: monospace;
            font-size: inherit;
            outline: none;
          }
        }
      }
    }

    .show {
      min-height: calc(100% - 35px);

      .mode {
        overflow: hidden;
        margin: 10px 0 10px 20px;

        div {
          cursor: pointer;
          float: left;
          padding: 4px 10px;
          border: 1px solid var(--slashnotes-active-background-color);

          &.active{
            background-color: var(--slashnotes-active-background-color);
          }
        }
      }

      .view {
        position: fixed;
        top: 80px;
        bottom: 0;
        padding: 0 20px;
        min-height: calc(100% - 60px);
        width: calc(100% - 300px);
        overflow: auto;
        line-height: 1.6;
        &::after{
          content: " ";
          display: block;
          clear: both;
          padding: 20px;
        }

        h1, h2, h3, h4, h5, h6 {
          margin: 0 0 20px 0;
          padding: 0;
        }

        h1 {
          border-bottom: 1px solid #333;
          padding-bottom: 4px;
        }

        h4, h5, h6 {
          font-size: inherit;
        }

        p {
          margin: 0 0 20px 0;
        }

        blockquote {
          border-left: 5px solid #666;
          margin-left: 0;
          padding-left: 15px;
        }

        code {
          background-color: #2F323B;
          padding: 2px 4px;
          border-radius: 5px;
          width: max-content;
        }

        pre code {
          display: block;
          margin: 0 0 20px 0;
          padding: 10px 20px;
        }

        .mermaid {
          margin-bottom: 20px;
        }

        a {
          cursor: pointer;
          color: #007ACC;
          text-decoration: none;
        }

        ul, ol {
          margin: 0 0 20px 0;
          list-style-position: inside;
          padding-left: 10px;
        }

        li p {
          display: inline-block;
        }

        img {
          margin: 0 0 20px 0;
          display: block;
        }

        .contains-task-list {
          padding-left: 0;
          li {
            list-style: none;
          }
        }

        table {
          margin: 0 0 20px 0;
          width: max-content;
          max-width: 100%;
          overflow: auto;
          border-collapse: collapse;
        }

        th, td {
          padding: 5px 10px;
          border: 1px solid #444c56;
        }

        th {
          background-color: #2F323B;
        }

        .footnotes h2 {
          margin: 0;
        }
      }

      .editor {
        clear: both;
        width: 100%;
        min-height: calc(100vh - 75px);
      }
    }
  }
}
