:root {
  --slashnotes-background-color: #252526;
  --slashnotes-color: #ccc;
  --slashnotes-hover-background-color: #2B2D2E;
  --slashnotes-active-background-color: #37363D;
  --slashnotes-main-background-color: #1E1E1E;
}

.desktop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: var(--slashnotes-background-color);
  color: var(--slashnotes-color);
  font-family: monospace;
  font-size: 14px;
}
