.main {
  position: fixed;
  left: 300px;
  top: 0;
  height: 100%;
  width: calc(100% - 300px);
  background-color: var(--slashnotes-main-background-color);
}

.main .tabs {
  background-color: var(--slashnotes-background-color);
  overflow: auto;
  height: 35px;
  line-height: 35px;
}

.main .tabs .tab {
  float: left;
  border-right: 1px solid var(--slashnotes-main-background-color);
  padding: 0 10px;
  cursor: pointer;
}

.main .tabs .tab.active {
  background-color: var(--slashnotes-main-background-color);
}
